<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Deck Stream</title>
  <link rel="stylesheet" href="../../libraries/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
  <script>window.$ = window.jQuery = require('jquery')</script>
  <script src="../../libraries/popper.min.js"></script>
  <script src="../../libraries/bootstrap.min.js"></script>
  <!-- <script src="../../libraries/vue.min.js"></script> -->
  <script src="../../libraries/vue.dev.js"></script>
  <script src="../../libraries/Sortable.min.js"></script>

  <script src="../../libraries/clock.js"></script>
  <script src="./script.js"></script>
  <script src="http://localhost:8098"></script>
  <script>
    $(function () {
      // $(".sortable").sortable({
      //   placeholder: "ui-state-highlight"
      // })
      // $(".sortable").disableSelection()
    })
  </script>
</head>

<body class="h-100">
  <div class="container-fluid h-100" id="deckstream" v-cloak>
    <main class="">
      <header class="row bg-dark" :id="`header-${index}`" v-show="index == activeDeck" v-for="(deck, index) in decks"
        :key="`header-${index}`">
        <div class="align-self-center col-4 text-center text-white" :id="`clock-${index}`"></div>
        <div class="align-self-center col-4 text-center text-success" :id="`currentTime-${index}`"></div>
        <div class="align-self-center col-4 text-center text-danger" :id="`remainingTime-${index}`"></div>
      </header>

      <draggable :list="decks[activeDeck].groups" group="groups">

        <div class="row p-2 group-row" v-for="(group, gIndex) in decks[activeDeck].groups" :key="`group-${gIndex}`">
          <div class="col-12 border-bottom mb-2 pb-1 px-1 text-white">{{ group.name }}</div>

          <draggable class="sortable d-flex w-100" :list="group.clips" group="clips">

            <div class="card border-0 ui-state-default" v-for="(clip, cIndex) in group.clips"
              :key="`clip-${gIndex}-${cIndex}`" :id="`clip-${gIndex}-${cIndex}`" @contextmenu="openContextClip($event)">

              <template>
                <video :src="clip.path + '#t=' + clip.posterTime" class="card-img-top" preload="metadata"
                  onerror="this.outerHTML=missingSource()" v-on:dblclick="setSteam(activeDeck, clip.path)"
                  v-on:click="setPreload(activeDeck, clip.path, $event)" v-if="fileIsVideo(clip.path)"></video>

                <img :src="clip.path" class="card-img-top" onerror="this.outerHTML=missingSource()"
                  v-on:dblclick="setSteam(activeDeck, clip.path)" v-on:click="setPreload(activeDeck, clip.path, $event)"
                  v-if="fileIsImage(clip.path)">
              </template>

              <div class="align-items-center card-body d-flex justify-content-center p-0 text-white">
                <small class="mx-1 overflow-hidden">{{clip.name}}</small>
              </div>
            </div>

          </draggable>

        </div>

      </draggable>
    </main>
    <nav>
      <ul class="nav nav-tabs">

        <draggable class="d-flex" :list="decks" group="decks" @end="onDraggedDecks">
          <li class="nav-item" v-for="(deck, dIndex) in decks" :key="`deck-${dIndex}`">
            <a :class="{active: dIndex == activeDeck}" class="nav-link" href="#"
              v-on:click="changeDeck(dIndex)">{{deck.name}}</a>
          </li>
        </draggable>

        <div>
          <button v-on:click="syncDeck()">Sync</button>
        </div>
      </ul>
    </nav>
    <video src="" class="d-none" :id="`video-${index}`" v-for="(deck, index) in decks" :key="`video-${index}`"></video>
  </div>

</body>

</html>