* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #000;
}

video {
  height: 100%;
  width: 100%;
  position: absolute;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}